.contentRow {
    margin: 15px;
}

.row-movies {
    border: solid;
    border-radius: 35px;
    border-color: rgb(116, 158, 158);
    box-shadow: 5px 5px #bdbdbd88;
    
}

.row-movies {
    margin: 20px;
    list-style-type: none;
    float: left;
    padding: 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.row-movies p {
    margin: 10px;
    font-size: 35px;
}

.row-movies h2 {
    margin: 10px;
}

.logo {
    height: 25px;
    width: 25px;
    display: inline;
}