.header {
  overflow: hidden;
  background-color: #f6f167;
  padding: 20px 10px;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #f6f167;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: rgb(161, 185, 249);
  color: black;
}

.header-right {
  float: right;
}