<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document se muestra en la pestana del navegador</title>
    <img src="/images/logo-mercado-liebre.svg" alt="logo">
</head>
<body>
<!--<h1>Titulo del Documento</h1> -->
    <div>
        <br>
        <h2>Espacio para barra de búsqueda</h2>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
    </div>

    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayudar</a></li>
        <br>
        <li><a href="">Crea tu cuenta</a></li>
        <li><a href="">Ingresar</a></li>
        <li><a href="">Mis compras</a></li>
      </ul>

</body>
</html>