<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado libre</title>

    <!--Hojas de Estilo -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">

    <!--Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <!--Logo, titulos e Input -->
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo" style="width:300px;height:200px;">
        <div class="buscar">
            <button type="button">Buscar</button>
            <input class="busca" type="text" placeholder="Search..">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <h2><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        
        <!--Lista -->
        <div class="list">
            <ul type="none">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayudar</a></li>
                <br>
                <li><a href="">Crea tu cuenta <i class="fa-sharp fa-solid fa-id-card"></i></i></a></li>
                <li><a href="">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        <br>
        
        <!--Menu  -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <br>
        <div>
    </header>

    <main>
        <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
        <section class="productos">
            <h2>Basado en tu última visita</h2>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="precio">$6.770</h4>
                    <h4 class="descuento">40% OFF</h4>
                    <h2>Cafetera Moulinex</h2>
                </div>
            </article>

            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Mac Book Pro">
                <div>
                    <h4 class="precio">$230.000</h4>
                    <h4 class="descuento">20% OFF</h4>
                    <h2>MacBook Pro 2019</h2>
                </div>
            </article>

            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10">
                <div>
                    <h4 class="precio">$70.500</h4>
                    <h4 class="descuento">10% OFF</h4>
                    <h2>Samsung Galaxy S10</h2>
                </div>
            </article>

            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="TV samsund">
                <div>
                    <h4 class="precio">$23.200</h4>
                    <h4 class="descuento">5% OFF</h4>
                    <h2>SmartTv Samsung 43"</h2>
                </div>
            </article>
        </section>

        <section>
            <h2>Sección de Ofertas</h2>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div>
                    <h4 class="precio">$6.770</h4>
                    <h4 class="descuento">5% OFF</h4>
                    <h4 >40% OFF</h4>
                    <h2>Cafetera Moulinex</h2>
                </div>
            </article>

            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Mac Book Pro">
                <div>
                    <h4 class="precio">$230.000</h4>
                    <h4 class="descuento">20% OFF</h4>
                    <h2>MacBook Pro 2019</h2>
                </div>
            </article>

            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10">
                <div></div>
                    <h4 class="precio">$70.500</h4>
                    <h4 class="descuento">10% OFF</h4>
                    <h2>Samsung Galaxy S10</h2>
                </div>
            </article>

            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="TV samsung">
                <div>
                    <h4 class="precio">$23.200</h4>
                    <h4 class="descuento">5% OFF</h4>
                    <h2>SmartTv Samsung 43"</h2>
                </div>
            </article>
        </section>
    </main>
    
</body>

<footer>
    <div>
        <i class="fa-solid fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin <br> 
        interés con tarjeta o efectivo en puntos de <br>
        pago. ¡Y siempre es seguro!
    </p>
    </div>
    
    <div>
        <i class="fa-sharp fa-solid fa-gift"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>
            Solo por estar registrad@ en Mercado Liebre <br>
            tenés envíos gratis en miles de productos. Es <br>
            un beneficio de Mercado Puntos.
        </p>
    </div>
    
    <div>
        <i class="fa-solid fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
            no hay nada que no puedas hacer, porque estásbr<br> 
            siempre protegid@.
        </p>
    </div>
    

    <p>Author: Felipe Escobar</p>
</footer>

</html>