<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado libre</title>

    <div class="header">
        <img src="/images/logo-mercado-liebre.svg" alt="logo">

        <div class="header-right">
          <a class="active" href="#home">Home</a>
          <a href="#contact">Contact</a>
          <label><a href="#about">About</a></label>
        </div>
      </div>   
</head>

<body>
<!--<h1>Titulo del Documento</h1> -->
    <div>
        <br>
        <h2>Espacio para barra de búsqueda</h2>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
    
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayudar</a></li>
            <br>
            <li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresar</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div>
        <img src="/images/img-home-banner.jpg" alt="banner">
        <h2>Basado en tu última visita</h2>

        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
        <h4>$6.770</h4>
        <h4>40% OFF</h4>
        <h2>Cafetera Moulinex</h2>

        <br>
        <br>

        <img src="/images/img-macbook-pro-2019.jpg" alt="Mac Book Pro">
        <h4>$230.000</h4>
        <h4>20% OFF</h4>
        <h2>MacBook Pro 2019</h2>

        <br>
        <br>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10">
        <h4>$70.500</h4>
        <h4>10% OFF</h4>
        <h2>Samsung Galaxy S10</h2>

        <br>
        <br>

        <img src="/images/img-tv-samsung-smart.jpg" alt="Galaxy S10">
        <h4>$23.200</h4>
        <h4>5% OFF</h4>
        <h2>SmartTv Samsung 43"</h2>

        <br>
        <br>
    </div>

    <div>
        <h2>Sección de Ofertas</h2>

        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
        <h4>$6.770</h4>
        <h4>40% OFF</h4>
        <h2>Cafetera Moulinex</h2>

        <br>
        <br>

        <img src="/images/img-macbook-pro-2019.jpg" alt="Mac Book Pro">
        <h4>$230.000</h4>
        <h4>20% OFF</h4>
        <h2>MacBook Pro 2019</h2>

        <br>
        <br>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10">
        <h4>$70.500</h4>
        <h4>10% OFF</h4>
        <h2>Samsung Galaxy S10</h2>

        <br>
        <br>

        <img src="/images/img-tv-samsung-smart.jpg" alt="Galaxy S10">
        <h4>$23.200</h4>
        <h4>5% OFF</h4>
        <h2>SmartTv Samsung 43"</h2>
        <br>
        <br>
    </div>
</body>

<footer>
    <h2>Pagá con tarjeta o en efectivo</h2>
    <p>Con Mercado Liebre Cash, tenés cuotas sin <br> 
        interés con tarjeta o efectivo en puntos de <br>
        pago. ¡Y siempre es seguro!
    </p>

    <h2>Envío gratis desde $ 2.500</h2>
    <p>
        Solo por estar registrad@ en Mercado Liebre <br>
        tenés envíos gratis en miles de productos. Es <br>
         un beneficio de Mercado Puntos.
    </p>

    <h2>Seguridad, de principio a fin</h2>
    <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
        no hay nada que no puedas hacer, porque estásbr<br> 
        siempre protegid@.
    </p>

    <p>Author: Felipe Escobar</p>
</footer>

</html>