<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Document se muestra en la pestana del navegador</title>
</head>
<body>
    <div class="contenedor02">
        <h1>Titulo del Documento</h1>

        <h2>un subtitulo</h2>
    </div>

    <!– Este article esta configurado responsive la parte de ariba no  –>
    <article class="contenedor01">
        <h4>soy h4</h4>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, 
            et, nobis cum, earum repellat error doloremque
            deserunt perspiciatis eaque consectetur quas hic 
            quos doloribus. Qui assumenda minus esse nisi autem.</p>

        <ol>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ol>

        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>

        <a href="https://www.google.com/">Ir a Google </a>
    </article>
</body>
</html>